### ============================================
### Prompts
### ============================================
# If not running interactively, don't do anything
[ -z "$PS1" ] && return

{{ shared_zsh_ps1_lines }}
### ============================================
# [Backspace] don't seem / as part of word.
# https://stackoverflow.com/a/1438523/1244729
# This is probably fairly specific, but if this doesn't work, it may be because of the zsh-syntax-highlighting plugin: https://github.com/zsh-users/zsh-syntax-highlighting/issues/67. Make sure to source that plugin at the end of your zshrc.
### ============================================
autoload -U select-word-style
select-word-style bash

{{ shared_zsh_history }}
### ============================================
### Completions
### ============================================
# Pick up user-installed completion functions (e.g. ansible-managed launchers
# under `~/.local/share/container-templates/` shipping per-launcher `_*` files).
# Must run BEFORE `compinit` for new fpath entries to be scanned.
fpath=(${HOME}/.local/share/zsh/site-functions $fpath)

{{ shared_zsh_compinit_and_zstyles }}
### ============================================
### Trivial options
### ============================================
setopt interactivecomments
setopt EXTENDED_HISTORY         # puts timestamps in the history
setopt MENUCOMPLETE   # Tab to auto complete command's arguments (e.g. git <TAB>)
setopt AUTO_CD    # cd to directory without cd command

### ============================================
### Alias
### ============================================
alias sz='source ~/.zshrc'
alias ta='if tmux attach-session -t 0;then;else tmux;fi'

alias ll='ls -al --color=auto '
alias ls='ls --color=auto '

alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias ......='cd ../../../../../'

alias sc="systemctl"
alias jc="journalctl"
alias jc-clear="journalctl --vacuum-time=5d"   #  Delete journal logs which are older than 5 days

alias gl="git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --graph"
alias gb="git branch"
alias gc="git checkout"
alias gs="git status"
alias gp="git pull"

alias set-lang-to-en='export LC_ALL=en_US.utf8; export LC_CTYPE=en_US.utf8; export LC_MESSAGES=en_US.utf8; export LANG=en_US.utf8; export LANGUAGE=en_US.utf8;'
alias set-lang-to-ja='export LC_ALL=ja_JP.utf8 LC_CTYPE=ja_JP.utf8 LC_MESSAGES=ja_JP.utf8 LANG=ja_JP.utf8 LANGUAGE=ja_JP.utf8;'

alias cccp='su -'  # Because `su -` is so fucking difficult to type. I'm extremely lazy.

function emacsx() {
    ('emacs' $@ > /dev/null 2>&1 &)
}

function dotfiles-public-update () {
    cd ~/.dotfiles-public/{{ 'root' if is_root else 'user' }}/ &&
    git fetch --all &&
    git reset --hard origin/master &&
}

{% if ansible_os_family == 'Debian' %}
function apt-install-without-recommends () {
    {% if not is_root %}sudo {% endif %}apt install --no-install-recommends $@
}

function apt-install-without-recommends-diff-dry-run () {
    if [ $UID -eq 0 ]; then
        echo "Please run as non-root for GUI (meld)"
        diff --width=$COLUMNS --suppress-common-lines --side-by-side --color <(apt-get install --dry-run $@) <(apt-get install --dry-run --no-install-recommends $@)
    else
        meld <(apt-get install --dry-run $@) <(apt-get install --dry-run --no-install-recommends $@)
    fi
}
{% endif %}
### ============================================
### autosuggesstions (apt install zsh-autosuggestions)
### ============================================
if [ -f /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh ]; then
        source /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh
fi

### ============================================
### Syntax Highlighting (apt-get install zsh-syntax-highlighting)
### [IMPORTANT] Please in the end of .zshrc
### ============================================
if [ -f /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]; then
        source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
fi
{% if not is_root %}

# PATH for pipx
PATH="${PATH}:${HOME}/.local/bin"
{% endif %}
