# {{ ansible_managed }}

### ============================================
### Prompts
### ============================================
{{ shared_zsh_ps1_lines }}
# Prevent Emacs TRAMP from failed to match the shell prompt.
if [ "$TERM" = "dumb" ]; then
    PS1='$ '
    unset PROMPT_COMMAND
    [ -n "$ZSH_VERSION" ] && unsetopt zle 2>/dev/null
fi

{% if who == 'user' %}
### ============================================
### PATH
### ============================================
# - Add `~/.local/bin` (it is XDG / systemd standard) to PATH, for installing
#   some extra binaries / tarballs / AppImages, which are not managed by system
#   package manager && don't want to let `root` execute directly (for security).
# - This is not existed in Debian's Docker Image by default, so should be
#   created in Dockfile manually.
# - See https://unix.stackexchange.com/questions/316765
PATH={% if cfg.nodejs %}${HOME}/.local/npm_global/bin:{% endif %}${HOME}/.local/bin:${PATH}

{% endif %}
### ============================================
# [Backspace] don't seem / as part of word.
# https://stackoverflow.com/a/1438523/1244729
# This is probably fairly specific, but if this doesn't work, it may be because of the zsh-syntax-highlighting plugin: https://github.com/zsh-users/zsh-syntax-highlighting/issues/67. Make sure to source that plugin at the end of your zshrc.
### ============================================
autoload -U select-word-style
select-word-style bash

{{ shared_zsh_history }}
### ============================================
### Completions
### ============================================
{{ shared_zsh_compinit_and_zstyles }}
### ============================================
### Trivial options
### ============================================
setopt interactivecomments
setopt EXTENDED_HISTORY         # puts timestamps in the history
setopt MENUCOMPLETE   # Tab to auto complete command's arguments (e.g. git <TAB>)

### ============================================
### Alias
### ============================================
alias sz='source ~/.zshrc'
alias ll='ls -al --color=auto '
alias ls='ls --color=auto '
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias ......='cd ../../../../../'

alias gl="git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --graph"
alias gb="git branch"
alias gc="git checkout"
alias gs="git status"
alias gp="git pull"

{% if who == 'user' %}
### ============================================
### NVM (Node Version Manager)
### ============================================
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

load-nvmrc() {
  if [ ! -e $NVM_DIR ]; then
    return
  fi
  local nvmrc_path
  nvmrc_path="$(nvm_find_nvmrc)"

  if [ -n "$nvmrc_path" ]; then
    local nvmrc_node_version
    nvmrc_node_version=$(nvm version "$(cat "${nvmrc_path}")")

    if [ "$nvmrc_node_version" = "N/A" ]; then
      nvm install
    elif [ "$nvmrc_node_version" != "$(nvm version)" ]; then
      nvm use
    fi
  elif [ -n "$(PWD=$OLDPWD nvm_find_nvmrc)" ] && [ "$(nvm version)" != "$(nvm version default)" ]; then
    echo "Reverting to nvm default version"
    nvm use default
  fi
}

autoload -Uz add-zsh-hook
add-zsh-hook chpwd load-nvmrc
load-nvmrc


{% endif %}
### ============================================
### autosuggesstions (apt install zsh-autosuggestions)
### ============================================
if [ -f /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh ]; then
        source /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh
fi

### ============================================
### Syntax Highlighting (apt-get install zsh-syntax-highlighting)
### [IMPORTANT] Please in the end of .zshrc
### ============================================
if [ -f /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]; then
        source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
fi
