#compdef {{ launcher_name }}
# {{ ansible_managed }}
#
# zsh completion for `{{ launcher_name }}`. Parses subcommands from the case
# statement in container.sh - any change to the dispatch arm picks up
# automatically on next shell start.

local script="{{ container_apps_install_root }}/{{ app.template }}/container.sh"
local -a subs
# The dispatch line looks like:
#   help|env|init|build|run|rm|...|zsh-root)
# Pull the first such alternation list out of the script.
subs=(${(s.|.)"$(perl -ne 'if (/^\s*([a-zA-Z_][\w-]*(\|[a-zA-Z_][\w-]*)+)\)/) { print $1; exit }' "$script" 2>/dev/null)"})
_describe 'subcommand' subs
