#!/usr/bin/env bash
# {{ ansible_managed }}
#
# Launcher for container app `{{ app.template }}` under OCI runtime `{{ runtime }}`.
# Forwards subcommand + args to the rendered container.sh, with PROJECT_NAME /
# PROJECT_PATH defaulted from the current working directory.
#
# Examples:
#   c-{{ app.template }}-{{ runtime }} init                       # from your project dir
#   c-{{ app.template }}-{{ runtime }} zsh-user
#   PROJECT_NAME=foo c-{{ app.template }}-{{ runtime }} init      # override one var

export RUNTIME="{{ runtime }}"
export PROJECT_NAME="${PROJECT_NAME:-$(basename "$PWD")}"
export PROJECT_PATH="${PROJECT_PATH:-$PWD}"

exec "{{ container_apps_install_root }}/{{ app.template }}/container.sh" "$@"
